<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkknown.crm.mapper.AppointmentMapper">
    
    <resultMap type="com.linkknown.crm.bean.dos.Appointment" id="AppointmentResult">
        <result property="shopId"    column="shop_id"    />
        <result property="appointmentId"    column="appointment_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="appointmentDate"    column="appointment_date"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="projectIds"    column="project_ids"    />
        <result property="projectPrice"    column="project_price"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="appointmentStatus"    column="appointment_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAppointmentVo">
        select shop_id, appointment_id, customer_id, appointment_date, appointment_time, project_ids, project_price, employee_id, appointment_status, create_by, create_time, update_by, update_time from appointment
    </sql>

    <select id="selectAppointmentList" parameterType="com.linkknown.crm.bean.dos.Appointment" resultMap="AppointmentResult">
        <include refid="selectAppointmentVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="appointmentDate != null "> and appointment_date = #{appointmentDate}</if>
            <if test="appointmentTime != null "> and appointment_time = #{appointmentTime}</if>
            <if test="projectIds != null "> and project_ids = #{projectIds}</if>
            <if test="projectPrice != null "> and project_price = #{projectPrice}</if>
            <if test="employeeId != null "> and employee_id = #{employeeId}</if>
            <if test="appointmentStatus != null "> and appointment_status = #{appointmentStatus}</if>
        </where>
    </select>
    
    <select id="selectAppointmentById" parameterType="Integer" resultMap="AppointmentResult">
        <include refid="selectAppointmentVo"/>
        where appointment_id = #{appointmentId}
    </select>
        
    <insert id="insertAppointment" parameterType="com.linkknown.crm.bean.dos.Appointment" useGeneratedKeys="true" keyProperty="appointmentId">
        insert into appointment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null ">shop_id,</if>
            <if test="customerId != null ">customer_id,</if>
            <if test="appointmentDate != null ">appointment_date,</if>
            <if test="appointmentTime != null ">appointment_time,</if>
            <if test="projectIds != null ">project_ids,</if>
            <if test="projectPrice != null ">project_price,</if>
            <if test="employeeId != null ">employee_id,</if>
            <if test="appointmentStatus != null ">appointment_status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null ">#{shopId},</if>
            <if test="customerId != null ">#{customerId},</if>
            <if test="appointmentDate != null ">#{appointmentDate},</if>
            <if test="appointmentTime != null ">#{appointmentTime},</if>
            <if test="projectIds != null ">#{projectIds},</if>
            <if test="projectPrice != null ">#{projectPrice},</if>
            <if test="employeeId != null ">#{employeeId},</if>
            <if test="appointmentStatus != null ">#{appointmentStatus},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAppointment" parameterType="com.linkknown.crm.bean.dos.Appointment">
        update appointment
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null ">shop_id = #{shopId},</if>
            <if test="customerId != null ">customer_id = #{customerId},</if>
            <if test="appointmentDate != null ">appointment_date = #{appointmentDate},</if>
            <if test="appointmentTime != null ">appointment_time = #{appointmentTime},</if>
            <if test="projectIds != null ">project_ids = #{projectIds},</if>
            <if test="projectPrice != null ">project_price = #{projectPrice},</if>
            <if test="employeeId != null ">employee_id = #{employeeId},</if>
            <if test="appointmentStatus != null ">appointment_status = #{appointmentStatus},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where appointment_id = #{appointmentId}
    </update>

    <delete id="deleteAppointmentById" parameterType="Integer">
        delete from appointment where appointment_id = #{appointmentId}
    </delete>

    <delete id="deleteAppointmentByIds" parameterType="String">
        delete from appointment where appointment_id in 
        <foreach item="appointmentId" collection="array" open="(" separator="," close=")">
            #{appointmentId}
        </foreach>
    </delete>

    <update id="updateAppointmentStatusEndUseByBatchIds" parameterType="String">
        update appointment set appointment_status = 3 where appointment_id in
        <foreach item="appointmentId" collection="array" open="(" separator="," close=")">
            #{appointmentId}
        </foreach>
    </update>

    <update id="updateAppointmentStatusOnUseByBatchIds" parameterType="String">
        update appointment set appointment_status = 2 where appointment_id in
        <foreach item="appointmentId" collection="array" open="(" separator="," close=")">
            #{appointmentId}
        </foreach>
    </update>
    
</mapper>