<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkknown.crm.mapper.CustomerIncomeMapper">
    
    <resultMap type="com.linkknown.crm.bean.dos.CustomerIncome" id="CustomerIncomeResult">
        <result property="shopId"    column="shop_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="introduceCustomerId"    column="introduce_customer_id"    />
        <result property="introduceCustomerAppointmentId"    column="introduce_customer_appointment_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerIncomeVo">
        select shop_id, customer_id, introduce_customer_id, introduce_customer_appointment_id, create_by, create_time, update_by, update_time from customer_income
    </sql>

    <select id="selectCustomerIncomeList" parameterType="com.linkknown.crm.bean.dos.CustomerIncome" resultMap="CustomerIncomeResult">
        <include refid="selectCustomerIncomeVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="introduceCustomerId != null "> and introduce_customer_id = #{introduceCustomerId}</if>
            <if test="introduceCustomerAppointmentId != null "> and introduce_customer_appointment_id = #{introduceCustomerAppointmentId}</if>
        </where>
    </select>
    
    <select id="selectCustomerIncomeById" parameterType="Long" resultMap="CustomerIncomeResult">
        <include refid="selectCustomerIncomeVo"/>
        where customer_id = #{customerId}
    </select>
        
    <insert id="insertCustomerIncome" parameterType="com.linkknown.crm.bean.dos.CustomerIncome" useGeneratedKeys="true" keyProperty="customerId">
        insert into customer_income
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null ">shop_id,</if>
            <if test="introduceCustomerId != null ">introduce_customer_id,</if>
            <if test="introduceCustomerAppointmentId != null ">introduce_customer_appointment_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null ">#{shopId},</if>
            <if test="introduceCustomerId != null ">#{introduceCustomerId},</if>
            <if test="introduceCustomerAppointmentId != null ">#{introduceCustomerAppointmentId},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCustomerIncome" parameterType="com.linkknown.crm.bean.dos.CustomerIncome">
        update customer_income
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null ">shop_id = #{shopId},</if>
            <if test="introduceCustomerId != null ">introduce_customer_id = #{introduceCustomerId},</if>
            <if test="introduceCustomerAppointmentId != null ">introduce_customer_appointment_id = #{introduceCustomerAppointmentId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where customer_id = #{customerId}
    </update>

    <delete id="deleteCustomerIncomeById" parameterType="Long">
        delete from customer_income where customer_id = #{customerId}
    </delete>

    <delete id="deleteCustomerIncomeByIds" parameterType="String">
        delete from customer_income where customer_id in 
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>
    
</mapper>