<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkknown.crm.mapper.CustomerRechargeMapper">
    
    <resultMap type="com.linkknown.crm.bean.dos.CustomerRecharge" id="CustomerRechargeResult">
        <result property="shopId"    column="shop_id"    />
        <result property="rechargeId"    column="recharge_id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="rechargeAmount"    column="recharge_amount"    />
        <result property="rechargeForProject"    column="recharge_for_project"    />
        <result property="rechargeForProduct"    column="recharge_for_product"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCustomerRechargeVo">
        select shop_id, recharge_id, customer_id, recharge_amount, recharge_for_project, recharge_for_product, remark, create_by, create_time, update_by, update_time from customer_recharge
    </sql>

    <select id="selectCustomerRechargeList" parameterType="com.linkknown.crm.bean.dos.CustomerRecharge" resultMap="CustomerRechargeResult">
        <include refid="selectCustomerRechargeVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="customerId != null "> and customer_id = #{customerId}</if>
            <if test="rechargeAmount != null "> and recharge_amount = #{rechargeAmount}</if>
            <if test="rechargeForProject != null  and rechargeForProject != ''"> and recharge_for_project = #{rechargeForProject}</if>
            <if test="rechargeForProduct != null  and rechargeForProduct != ''"> and recharge_for_product = #{rechargeForProduct}</if>
        </where>
    </select>
    
    <select id="selectCustomerRechargeById" parameterType="Integer" resultMap="CustomerRechargeResult">
        <include refid="selectCustomerRechargeVo"/>
        where recharge_id = #{rechargeId}
    </select>

    <select id="selectRechargeListByIds" parameterType="String" resultMap="CustomerRechargeResult">
        <include refid="selectCustomerRechargeVo"/>
        where recharge_id in
        <foreach item="rechargeId" collection="array" open="(" separator="," close=")">
            #{rechargeId}
        </foreach>
    </select>
        
    <insert id="insertCustomerRecharge" parameterType="com.linkknown.crm.bean.dos.CustomerRecharge" useGeneratedKeys="true" keyProperty="rechargeId">
        insert into customer_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null ">shop_id,</if>
            <if test="customerId != null ">customer_id,</if>
            <if test="rechargeAmount != null ">recharge_amount,</if>
            <if test="rechargeForProject != null  and rechargeForProject != ''">recharge_for_project,</if>
            <if test="rechargeForProduct != null  and rechargeForProduct != ''">recharge_for_product,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null ">#{shopId},</if>
            <if test="customerId != null ">#{customerId},</if>
            <if test="rechargeAmount != null ">#{rechargeAmount},</if>
            <if test="rechargeForProject != null  and rechargeForProject != ''">#{rechargeForProject},</if>
            <if test="rechargeForProduct != null  and rechargeForProduct != ''">#{rechargeForProduct},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCustomerRecharge" parameterType="com.linkknown.crm.bean.dos.CustomerRecharge">
        update customer_recharge
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null ">shop_id = #{shopId},</if>
            <if test="customerId != null ">customer_id = #{customerId},</if>
            <if test="rechargeAmount != null ">recharge_amount = #{rechargeAmount},</if>
            <if test="rechargeForProject != null  and rechargeForProject != ''">recharge_for_project = #{rechargeForProject},</if>
            <if test="rechargeForProduct != null  and rechargeForProduct != ''">recharge_for_product = #{rechargeForProduct},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where recharge_id = #{rechargeId}
    </update>

    <delete id="deleteCustomerRechargeById" parameterType="Integer">
        delete from customer_recharge where recharge_id = #{rechargeId}
    </delete>

    <delete id="deleteCustomerRechargeByIds" parameterType="String">
        delete from customer_recharge where recharge_id in 
        <foreach item="rechargeId" collection="array" open="(" separator="," close=")">
            #{rechargeId}
        </foreach>
    </delete>
    
</mapper>